/* Website hex colors */
:root{
    --orange: #FFB830;
    --blue: #3DB2FF;
    --light: #FFEDDA;
    --red: #FF2442;
    --white: #fff;
    --black: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: var(--light);
}

.wrapper {
    background: var(--white);
    padding-bottom: 132px;
}

/* top navigation */
nav{
    width: 100%;
    background: var(--orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 99;
}

#logo{
    margin-left: 10px;
}

.links ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-right: 20px;
    text-decoration: none;
    
}

.links li{
    list-style: none;
    color: var(--black);
}

/* top content / welcome message*/
.top-content{
    margin-top: 80px;
    width: 100%;
    text-align: center;
}

.top-content img{
    width: 100%;
    padding: 0 20px;
}

/* Main page container*/

/* Card Container */
.card-container{
    padding-top: 30px;
    margin: 0 20px;
    margin-bottom: 40px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
}

/* Cards */
.card{
    position: relative;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
    background: var(--white);
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}

.card img{
    margin-top: 60px;
    width: 100%;
    display: block;
    padding: 0 10px;
}

.card-info{
    line-height: 1.5rem;
    margin-left: 10px;
}

.card-info h3{
    font-weight: 600;
}

.card-info > p:first-of-type{
    font-size: 0.8em;
}

.card:hover{
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

/* Card button */
.card-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
.card button{
    outline: none;
    background: var(--blue);
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    padding: 10px 10px;
    border-radius: 6px;
    margin-bottom: 6px;
    cursor: pointer;
    width: 100%;
}

/* Card Ribbons 
.card::before{
    position: absolute;
    background: var(--red);
    content: '';
    height: 28px;
    width: 28px;
    top: 18px;
    right: -2px;
    rotate: 45deg;
    z-index: -1;
}

.card::after{
    position: absolute;
    background: var(--red);
    content: 'New!';
    height: 28px;
    padding: 2px 10px;
    top: 0;
    right: -8px;
    box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
    text-align: center;
    color: white;
    line-height: 1.5rem;
    font-weight: 600;
}
*/
/* Card Ribbon */
.ribbon {
    background: var(--red);
    position: absolute;
    top: 11px;
    right: -32px;
    color: var(--white);
    line-height: 1.5rem;
    font-weight: 600;
    text-align: center;
    width: 110px;
    rotate: 45deg;
}

/* 

    Contact Details

*/
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: center;
    line-height: 1.5rem;
}

/* 
    Map 
*/
.map{
    display: flex;
    justify-content: center;
    margin: 10px 20px;
}

/*
    Contact Form
*/
.header-1 {
    padding: 2rem 0;
}

/* Add a background color and some padding around the form */
.container-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  form{
      padding-top: 30px;
  }
  
  /* Style inputs with type="text", select elements and textareas */
  input[type=text], textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }

/* Footer */
footer{
    position: fixed;
    bottom: 0;
    background: var(--blue);
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer ul{
    list-style: none;
}

footer h3{
    font-size: 1.5rem;
    padding-bottom: 6px;
    font-weight: 100;
}

footer p{
    padding-top: 6px;
    font-size: 0.8em;
}

footer h4{
    padding-top: 8px;
}

.foot-icons{
    display: flex;
    gap: 20px;
    font-size: 2.5rem;
}

.foot-icons a{
    text-decoration: none;
    color: white;
}

.foot-icons a:hover{
    transform: scale(1.1);
}

.foot-disc{
    padding-bottom: 6px;
}


/* Media Query for Phone screens */

@media only screen and (max-width: 600px) {
 
    nav{
        height: 100px;
    }

    .top-content{
        margin-top: 120px;
    }

    #logo{
        margin-left: 30px;
    }
    

}
